*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  block-size: 100%;
  color: white;
  font-family: var(--font-sans);
  line-height: var(--font-lineheight-3);
}

body {
  min-block-size: 100%;
}

img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul:where([role="list"]),
ol:where([role="list"]) {
  list-style: none;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-size: initial;
  text-align: left;
}

h1 {
  font-size: clamp(
    4rem,
    8vw,
    10rem
  ); /* Minimum 2rem, preferred 8% of viewport width, maximum 9rem */
  line-height: 0.77;
  padding-bottom: clamp(
    1rem,
    4vw,
    2rem
  ); /* Minimum 1rem, preferred 4% of viewport width, maximum 2rem */
}

p {
  font-size: clamp(
    14px,
    2vw,
    20px
  ); /* Minimum 14px, preferred 2% of viewport width, maximum 20px */
  text-align: left;
}
