*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  block-size: 100%;
  color: var(--color-primary-white);
}

body {
  min-block-size: 100%;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background-image: url("/public/Textures.png");
  background-repeat: repeat;
  background-size: auto;
  background-position: top left;
  z-index: 1; /* ensure it appears above the body content */
  pointer-events: none; /* allow clicks to pass through the overlay */
}

img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul:where([role="list"]),
ol:where([role="list"]) {
  list-style: none;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  text-align: left;
  font-family: "MagdaPro", sans-serif;
  line-height: 1.2;
}

h1 {
  font-size: clamp(
    var(--mobile-font-size-headings-xxl),
    12vw,
    var(--font-size-headings-xxl)
  ); /* Minimum 2rem, preferred 8% of viewport width, maximum 9rem */
  line-height: 0.77;
  font-family: "Petra", sans-serif;
  letter-spacing: 0.07em;
  color: var( --color-secondary-pink);
  padding-bottom: var(--spacing-token-4);
}

h2,
h3,
h4 {
  color: var(--color-primary-blue);
  font-size: var(--font-size-headings-magda-pro---special-xl);
  text-transform: uppercase;
  padding-bottom: var(--spacing-token-1);
}

h3 {
  font-size: var(--font-size-headings-magda-pro---special-xl);
}

p,
span {
  font-size: clamp(
    var(--font-size-paragraphs-xs),
    2vw,
    var(--font-size-paragraphs-l)
);
  text-align: left;
  font-family: "MagdaMono", sans-serif;
  line-height: 1.2;
}
