---
import "../styles/global.css";
import "../styles/variables.css";
import ProductHero from "../components/ProductHero.astro";
import Accordion from "../components/Accordion.astro";
import ProductBody from "../components/ProductBody.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>productName</title>
  </head>
  <body>
    <main>
      <header class="header">
        <div class="flex">
          <a href="/Allproducts" class="back-link">
            <img src="/public/pointing-hand.svg" alt="Back">
          </a>
        <h1>Did you know that clicking on the pointing finger will take you back to our oat-drinkable, eatable collection? Just give it a click and rediscover all our products!</h1>
      </div>
        <div class="header-line"></div>
      </header>
      <ProductHero
        productName="Oat Drink Barista Organic"
        description="An organically creamy, rich, and organic oat drink that is not cow’s milk, not a cream, and not really a creamer but a nice organic upgrade for your coffee. It might not deliver on the extremely high expectations set by our original Barista edition, but what it lacks in compared functionality, it makes up for in organic ingredients. Think of it more as a barista version of our organic oat drink than an organic version of our Barista edition. Made for professional organic baristas and people who like to play one at home."
        img="test.jpg"
      />

<ProductBody />
<header class="header">
  <div class="flex">
    <a href="javascript:history.back()" class="back-link">
      <img src="/public/pointing-hand.svg" alt="Back">
    </a>
  <h1>Hey you have now reached the end, there is nothing more to see, you can click on the finger to read about all our products again </h1>
</div>
    </main>
  </body>
</html>

<style>
  html, body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: black;
  }

  body {
    max-width: 1440px;
  }

  main {
    max-width: 90%;
  }

  header {
  padding: var(--spacing-token-4) 0;
  text-align: center;
  color: var(--color-primary-white);
}

header h1 {
  padding-top: 40px;
  font-size: var(--font-size-headings-magda-pro---special-m);
  font-family: "MagdaPro";
  color: var(--color-primary-white);
  padding-left: 50px;
  line-height: 1.8;
}

.header-line {
  height: 16px;
  background-color: var( --color-secondary-pink);
}

.back-link {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Space between arrow and text */
}

.back-link img{
  width: 140px; /* Adjust the size as needed */
  height: 140px; /* Adjust the size as needed */
  transform: rotate(90deg); /* Rotate the image by 90 degrees */
  filter: invert(1); /* Invert the colors */
}

.flex {
  display: flex;
  align-items: top; /* Vertically center the items */
}

</style>
