---
const { productName, description, img } = Astro.props;
---

<body>
  <main>
      <section class="product">
          <div class="product-details">
              <h1>{productName}</h1>
              <p>{description}</p>
          </div>
          <div class="product-image">
            <img src="https://via.placeholder.com/300x500" alt="Product Image">
        </div>
      </section>
  </main>
</body>


<style>

main {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.product {
    display: flex;
    align-items: center;
    max-width: 800px;
}

.product-image {
    flex: 1;
}

.product-image img {
    width: 100%;
    height: auto;
}

.product-details {
    flex: 1;
    padding: 20px;
}

.product-details h1 {
    margin-top: 0;
}


</style>
